#!/usr/bin/env python
PACKAGE = "me5413_world"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("speed_target", double_t, 1, "Default: 0.5[m/s]", 0.5, 0.1, 1.0)

## Changing defaults to 

gen.add("PID_Kp", double_t, 1, "Default: 7.0", 7.0, 0, 10.0)
gen.add("PID_Ki", double_t, 1, "Default: 0.2", 0.2, 0, 10.0)
gen.add("PID_Kd", double_t, 1, "Default: 4.0", 4.0, 0, 10.0)

gen.add("stanley_K", double_t, 1, "Default: 5.25", 5.25, 0, 10.0)

exit(gen.generate(PACKAGE, "path_tracker_node", "path_tracker"))
