#!/usr/bin/env python
PACKAGE = "me5413_world"
### Version 2 of configuration

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

## Stanley k = 1.2 * of kp

gen.add("speed_target", double_t, 1, "Default: 0.5[m/s]", 0.5, 0.1, 1.0)

gen.add("PID_Kp", double_t, 1, "Default: 6.5", 7.6, 0, 10.0)
gen.add("PID_Ki", double_t, 1, "Default: 0.2", 0.2, 0, 10.0)
gen.add("PID_Kd", double_t, 1, "Default: 7.0", 4.0, 0, 10.0)

gen.add("stanley_K", double_t, 1, "Default: 7.9", 4.3, 0, 10.0)

exit(gen.generate(PACKAGE, "path_tracker_node", "path_tracker"))
